astroid==3.0.2 ; python_full_version == "3.11.7"
asttokens==2.4.1 ; python_full_version == "3.11.7"
black==23.12.1 ; python_full_version == "3.11.7"
click==8.1.7 ; python_full_version == "3.11.7"
colorama==0.4.6 ; python_full_version == "3.11.7"
dill==0.3.8 ; python_full_version == "3.11.7"
executing==2.0.1 ; python_full_version == "3.11.7"
html5lib==1.1 ; python_full_version == "3.11.7"
icecream==2.1.3 ; python_full_version == "3.11.7"
ifcopenshell==0.7.0.230818 ; python_full_version == "3.11.7"
importlib-metadata==7.0.1 ; python_full_version == "3.11.7"
iniconfig==2.0.0 ; python_full_version == "3.11.7"
isodate==0.6.1 ; python_full_version == "3.11.7"
isort==5.13.2 ; python_full_version == "3.11.7"
lark==1.1.9 ; python_full_version == "3.11.7"
mccabe==0.7.0 ; python_full_version == "3.11.7"
mypy-extensions==1.0.0 ; python_full_version == "3.11.7"
owlrl==6.0.2 ; python_full_version == "3.11.7"
packaging==23.2 ; python_full_version == "3.11.7"
pathspec==0.12.1 ; python_full_version == "3.11.7"
platformdirs==4.1.0 ; python_full_version == "3.11.7"
pluggy==1.4.0 ; python_full_version == "3.11.7"
prettytable==3.9.0 ; python_full_version == "3.11.7"
pygments==2.17.2 ; python_full_version == "3.11.7"
pylint==3.0.3 ; python_full_version == "3.11.7"
pyparsing==3.1.1 ; python_full_version == "3.11.7"
pyshacl==0.25.0 ; python_full_version == "3.11.7"
pytest==7.4.4 ; python_full_version == "3.11.7"
rdflib==7.0.0 ; python_full_version == "3.11.7"
ruff==0.1.15 ; python_full_version == "3.11.7"
six==1.16.0 ; python_full_version == "3.11.7"
tomlkit==0.12.3 ; python_full_version == "3.11.7"
wcwidth==0.2.13 ; python_full_version == "3.11.7"
webencodings==0.5.1 ; python_full_version == "3.11.7"
zipp==3.17.0 ; python_full_version == "3.11.7"
